body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #9c0404;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #9c0404;
    margin-top: 20px;
}

.logo-getit {
    width: 13rem;
    margin-top: 3rem;
}

form {
    margin: 20px auto;
    padding: 10px;
    background-color: #fbc02d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(153, 117, 8, 0.1);
    width: 50%;
}

input[type="text"] {
    padding: 8px;
    border: 0.2rem solid #000000;
    border-radius: 4px;
    width: 35%;
    margin: 10px 0;
}

button, input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #333333;
    transform: scale(1.05);
}

ul {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: space-around; /* Espaço ao redor dos elementos */
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
}

.note {
    background-color: #410d0d;
    padding: 10px;
    margin: 10px;
    width: 30%;
    max-height: 20rem; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-content {
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    max-height: 15rem; /* Altura máxima para o conteúdo */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
    word-wrap: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word; /* Quebra palavras longas */
}

.note form {
    display:contents;
    justify-content: space-between;
    margin: 1 rem;
    margin-bottom: 0.5rem;
    width: 20%;
}

p {
    color: #ffe11d;
    font-size: 1.3rem;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

a {
    color: #fbc02d;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fbc02d;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #fbc02d;
    color: #0c0c0c;
    transform: scale(1.05);
}